// Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$verde: #7DCEA0;
$rosa: #3498DB;
$amarillo: #E67E22;
$morado: #2C3E50;
$negro: #000;
$blanco: #fff;


// Media query
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;